body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 22px;
}
.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    color: #555;
}

label i {
    margin-right: 10px;
    color: #007bff;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}
.form-group input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
}
.form-group input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 6px rgba(0, 123, 255, 0.2);
}
.action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.action-buttons button {
    padding: 10px 15px;
    border-radius: 50px; /* Makes the buttons round */
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 120px;
}
.action-buttons button[type="submit"] {
    background-color: #0edf6c;
    color: white;
}
.action-buttons button[type="submit"]:hover {
    background-color: #0056b3;
}
.action-buttons button.cancel {
    background-color: #dc3545;
    color: white;
}
.action-buttons button.cancel:hover {
    background-color: #c82333;
}
@media (max-width: 600px) {
    .container {
        padding: 15px;
        width: 90%;
    }
}

