body {
    display: flex;
    position: absolute;
    top: 15%;
    right: 22%;
    
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

table {
    width: 1300px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #01abee;
}

form{
    display: flex;
    position: absolute;
    top: 30%;
    right: 1%;
}

/* Inline CSS for button-style icons */
.action-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: none;
    background: #f1f1f1;
    color: #333;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    margin: 0 5px;
    text-decoration: none; /* Remove underline from links */
}

.action-btn i {
    font-size: 16px;
}

.action-btn:hover {
    background: #ddd;
    color: #4CAF50;
}

.action-btn.view {
    background: #f1ffe7;
}

.action-btn.add {
    background: #e7fff5;
}

.action-btn.delete {
    background: #ffe7e7;
}
